src/main/resources/schemas/snet01/snet01.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xs:schema targetNamespace="htw-berlin.de/projekte/snet01" xmlns:snet01="htw-berlin.de/projekte/snet01" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="SleepResearchSession" type="snet01:sleepResearchSessionData"/>         
	<xs:element name="PSGScan" type="snet01:psgScanData"/>
	<xs:element name="PSGScan1" type="snet01:psgScanData1"/>
	<xs:element name="PSGEDFData" type="snet01:psgEDFData"/>
  	<xs:element name="EEGRecord" type="snet01:eegRecordData"/>
       	<xs:element name="EOGRecord" type="snet01:eogRecordData"/>
       	<xs:element name="ECGRecord" type="snet01:ecgRecordData"/>
       	<xs:element name="EMGRecord" type="snet01:emgRecordData"/>
        <xs:element name="AirflowRecord" type="snet01:airflowRecordData"/>
        <xs:element name="OximetryRecord" type="snet01:oximetryRecordData"/>
        <xs:element name="NasalPressureRecord" type="snet01:nasalPressureRecordData"/>
        <xs:element name="EsophagealPressureRecord" type="snet01:esophagealPressureRecordData"/>
        <xs:element name="BodyPositionRecord" type="snet01:bodyPositionRecordData"/>
        <xs:element name="SnoringSoundsRecord" type="snet01:snoringSoundsRecordData"/>
        <xs:element name="RibCageAndAbdominalMovementsRecord" type="snet01:ribCageAndAbdominalMovementsRecordData"/>
        <xs:element name="ArbitraryRecord" type="snet01:arbitraryRecordData"/>
<!-- study modules -->
	<xs:element name="M01_Anthropometric_Data" type="snet01:stmAnthropometricData"/>
	<xs:element name="M02_Physical_Findings" type="snet01:stmPhysicalFindings"/>
	<xs:element name="M03_PSG_Data_Sleep" type="snet01:stmPsgSleep"/>
	<xs:element name="M04_PSG_Data_PLM" type="snet01:stmPsgPlm"/>
	<xs:element name="M05_PSG_Data_Breathing" type="snet01:stmPsgBreathing"/>
	<!--<xs:element name="M06_RespiratoryTherapy" type="snet01:respiratoryTherapy"/>-->
	<xs:element name="M07_LaboratoryValues" type="snet01:stmLaboratoryValues"/>
	<xs:element name="M08_QuestionnaireValues" type="snet01:stmQuestionnaireValues"/>
	<!--<xs:element name="M09_Comorbidities" type="snet01:comorbidities"/> -->
	<xs:element name="M10_InclusionCriteriaStudy" type="snet01:stmInclusionEdStudy"/>
	<xs:element name="M11_ExclusionCriteriaStudy" type="snet01:stmExclusionEdStudy"/>
	<xs:element name="M12_RelevantDrugs" type="snet01:stmRelevantDrugs"/>
	
	<xs:element name="AddPressureProperties" type="snet01:stmPressureProperties"/>
	<xs:element name="AddComorbidity" type="snet01:stmComorbidity"/>
	<xs:element name="AddDrug" type="snet01:stmDrug"/>


	<xs:complexType name="sleepResearchSessionData">
		<xs:annotation>
			<xs:documentation>Sleep Research Session (including PSG)</xs:documentation>
		</xs:annotation>
                <xs:complexContent>
                	<xs:extension base="xnat:imageSessionData"/>
                </xs:complexContent>
	</xs:complexType>

	<xs:complexType name="psgScanData">
		<xs:annotation>
			<xs:documentation>Polysomnographic Scan</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:imageScanData">
				<xs:sequence minOccurs="0">
					<xs:element name="edfversion" type="xs:float" minOccurs="0"/>
					<xs:element name="patientid" type="xs:string" minOccurs="0"/>
					<xs:element name="localrecordid" type="xs:string" minOccurs="0"/>
					<xs:element name="recordingstartdate" type="xs:string" minOccurs="0"/>
					<xs:element name="recordingstarttime" type="xs:string" minOccurs="0"/>
					<xs:element name="numberofheaderbytes" type="xs:integer" minOccurs="0"/>
					<xs:element name="reservedheaderfield" type="xs:string" minOccurs="0"/>
					<xs:element name="numberofdatarecords" type="xs:integer" minOccurs="0"/>
					<xs:element name="durationofdatarecordseconds" type="xs:float" minOccurs="0"/>
					<xs:element name="numberofsignalsindatarecord" type="xs:integer" minOccurs="0"/>
					<xs:element name="psgdevice" type="xs:string" minOccurs="0"/>  
					<xs:element name="durationofrecordhours" type="xs:float" minOccurs="0"/>
					<xs:element name="continuousdataflag" type="xs:integer" minOccurs="0"/> 
					<xs:element name="comment" type="xs:string" minOccurs="0"/> 
					<xs:element name="records" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="record" type="snet01:psgRecordData" minOccurs="0" maxOccurs="unbounded">
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="psgScanData1">
		<xs:annotation>
			<xs:documentation>Polysomnographic Scan</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:imageScanData">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="psgEDFData">
		<xs:annotation>
			<xs:documentation>Derived EDF from Polysomnographic scan</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:reconstructedImageData">
				<xs:sequence>
					<xs:element name="edfversion" type="xs:float" minOccurs="0"/>
					<xs:element name="patientid" type="xs:string" minOccurs="0"/>
					<xs:element name="localrecordid" type="xs:string" minOccurs="0"/>
					<xs:element name="recordingstartdate" type="xs:string" minOccurs="0"/>
					<xs:element name="recordingstarttime" type="xs:string" minOccurs="0"/>
					<xs:element name="numberofheaderbytes" type="xs:integer" minOccurs="0"/>
					<xs:element name="reservedheaderfield" type="xs:string" minOccurs="0"/>
					<xs:element name="numberofdatarecords" type="xs:integer" minOccurs="0"/>
					<xs:element name="durationofdatarecordseconds" type="xs:float" minOccurs="0"/>
					<xs:element name="numberofsignalsindatarecord" type="xs:integer" minOccurs="0"/>
					<xs:element name="psgdevice" type="xs:string" minOccurs="0"/>  
					<xs:element name="durationofrecordminutes" type="xs:float" minOccurs="0"/>
					<xs:element name="continuousdataflag" type="xs:integer" minOccurs="0"/> 
					<xs:element name="comment" type="xs:string" minOccurs="0"/> 
					<xs:element name="records" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="record" type="snet01:psgRecordData" minOccurs="0" maxOccurs="unbounded">
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="psgRecordData">
		<xs:annotation>
			<xs:documentation>Individual record in PSG</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="labeldevice" type="xs:string" minOccurs="0"/>
			<xs:element name="labelstandard" type="xs:string" minOccurs="0"/>
			<xs:element name="channelnumberdevice" type="xs:integer" minOccurs="0"/>
			<xs:element name="channelnumberstandard" type="xs:integer" minOccurs="0"/>
			<xs:element name="numberofchunks" type="xs:integer" minOccurs="0"/>
			<xs:element name="samplingrate" type="xs:string" minOccurs="0"/>
			<xs:element name="transducertype" type="xs:string" minOccurs="0"/>
			<xs:element name="physicaldimension" type="xs:string" minOccurs="0"/>
			<xs:element name="physicalminimum" type="xs:float" minOccurs="0"/>
			<xs:element name="physicalmaximum" type="xs:float" minOccurs="0"/>
			<xs:element name="digitalminimum" type="xs:integer" minOccurs="0"/>
			<xs:element name="digitalmaximum" type="xs:integer" minOccurs="0"/>
			<xs:element name="prefiltering" type="xs:string" minOccurs="0"/>
			<xs:element name="samplesinrecord" type="xs:integer" minOccurs="0"/>
			<xs:element name="reserved" type="xs:string" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="eegRecordData">
		<xs:annotation>
			<xs:documentation>PSG - EEG Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="eogRecordData">
		<xs:annotation>
			<xs:documentation>PSG - EOG Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ecgRecordData">
		<xs:annotation>
			<xs:documentation>PSG - ECG Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="emgRecordData">
		<xs:annotation>
			<xs:documentation>PSG - EMG Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="airflowRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Airflow Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="oximetryRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Oxymetry Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="nasalPressureRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Nasal Pressure Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="esophagealPressureRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Esophageal Pressure Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bodyPositionRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Body Position Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="snoringSoundsRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Snoring Sounds Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ribCageAndAbdominalMovementsRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Rib Cage and Abdominal Movements Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="arbitraryRecordData">
		<xs:annotation>
			<xs:documentation>PSG - Arbitrary Record</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="snet01:psgRecordData"/>
		</xs:complexContent>
	</xs:complexType>

<!-- study modules --> 

	<xs:complexType name="stmAnthropometricData">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="Accompanying_Disease" type="snet01:comorbidity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmPhysicalFindings">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="NeckCircumference" type="xs:float"/>
					<xs:element name="SystolicPressure" type="xs:float"/>
					<xs:element name="DiastolicPressure" type="xs:float"/>
					<xs:element name="FEV1" type="xs:float"/>
					<xs:element name="OxygenSaturation" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:complexType name="stmPsgSleep">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="TimeInBed" type="xs:integer"/>
					<xs:element name="SleepPeriodTime" type="xs:integer"/>
					<xs:element name="TotalSleepTime" type="xs:integer"/>
					<xs:element name="TotalWakeTime" type="xs:integer"/>
					<xs:element name="SleepEfficiency" type="xs:float"/>
					<xs:element name="SleepLatency" type="xs:integer"/>
					<xs:element name="WakeAfterSleepOnset" type="xs:integer"/>
					<xs:element name="LatencyN1" type="xs:integer"/>
					<xs:element name="LatencyN2" type="xs:integer"/>
					<xs:element name="LatencyN3" type="xs:integer"/>
					<xs:element name="LatencyR" type="xs:integer"/>
					<xs:element name="PercenyN1" type="xs:float"/>
					<xs:element name="PercentN2" type="xs:float"/>
					<xs:element name="PercentN3" type="xs:float"/>
					<xs:element name="PercentR" type="xs:float"/>
					<xs:element name="NumberAwakening" type="xs:integer"/>
					<xs:element name="AwakeningIndex" type="xs:float"/>
					<xs:element name="NumberArousals" type="xs:integer"/>
					<xs:element name="ArousalIndex" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmPsgPlm">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="NumberPLM" type="xs:integer"/>
					<xs:element name="NumberPLMS" type="xs:integer"/>
					<xs:element name="NumberPLMW" type="xs:integer"/>
					<xs:element name="NumberPLMS_Arousal" type="xs:integer"/>
					<xs:element name="NumberPLMS_Awakening" type="xs:integer"/>
					<xs:element name="PLMIndex" type="xs:float"/>
					<xs:element name="PLMSIndex" type="xs:float"/>
					<xs:element name="PLMSArousalIndex" type="xs:float"/>
					<xs:element name="PLMSAwakeningIndex" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmPsgBreathing">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="NumberObstructiveApneas" type="xs:integer"/>
					<xs:element name="NumberMixedApneas" type="xs:integer"/>
					<xs:element name="NumberCentralApneas" type="xs:integer"/>
					<xs:element name="NumberHypopneas" type="xs:float"/>
					<xs:element name="NumberApneasHypopneas" type="xs:integer"/>
					<xs:element name="ApneaIndex" type="xs:float"/>
					<xs:element name="HypopneaIndex" type="xs:float"/>
					<xs:element name="ApneaHypopneaIndex" type="xs:float"/>
					<xs:element name="MeanOxygenSaturation" type="xs:float"/>
					<xs:element name="MinimalOxygenSaturation" type="xs:float"/>
					<xs:element name="CheyneStokesBreathing" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--
	<xs:complexType name="respiratoryTherapy">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="CPAP" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Pressure" type="xs:float"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AutoCPAP" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MinPressure" type="xs:float"/>
								<xs:element name="MaxPressure" type="xs:float"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BiPAPS" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="snet01:pressureProperties"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BiPAPST" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="snet01:pressureProperties">
									<xs:sequence>
										<xs:element name="ThresholdFrequency" type="xs:float"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BiPAPT" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="snet01:pressureProperties">
									<xs:sequence>
										<xs:element name="IERatio" type="xs:float"/>
										<xs:element name="BreathPerMinute" type="xs:float"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdaptiveServoventilation" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="snet01:pressureProperties"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="HoursOfOperation" type="xs:float"/>
					<xs:element name="UsageHNight" type="xs:float"/>
					<xs:element name="UsageDaysWeek" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	
	<xs:complexType name="stmLaboratoryValues">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="FastingBloodSugarLevel" type="xs:float"/>
					<xs:element name="GlycatedHemoglobin" type="xs:float"/> <!-- de:HbA1c -->
					<xs:element name="TotalCholesterolLevel" type="xs:float"/>
					<xs:element name="LDLCholesterol" type="xs:float"/>
					<xs:element name="HOLCholesterol" type="xs:float"/>
					<xs:element name="LH" type="xs:float"/>
					<xs:element name="Testosterone" type="xs:float"/>
					<xs:element name="Endothelin" type="xs:float"/>
					<xs:element name="Norepinephrine" type="xs:float"/> <!-- de:Noradrenalin -->
					<xs:element name="Nitrotyrosine" type="xs:float"/>
					<xs:element name="Isoprostane" type="xs:float"/>
					<xs:element name="Malondialdehyde" type="xs:float"/> <!-- de:MDA -->
					<xs:element name="ThiobarbituricAcidReactiveSubstances" type="xs:float"/> <!-- de:TBARS -->
					<xs:element name="HsCRP" type="xs:float"/> <!-- en:High-Sensitivity C-reactive protein -->
					<xs:element name="Interleukin6" type="xs:float"/>
					<xs:element name="TumorNecrosisFactorAlpha" type="xs:float"/> <!-- de:TNFa -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmQuestionnaireValues">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="ESSScore">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="24"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="IIEF5Score">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="WHO5Score">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MDIScore">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--
	<xs:complexType name="comorbidities">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="Smoking">
						<xs:complexType>
							<xs:extension base="snet01:comorbidity">"
								<xs:choice>
									<xs:element name="CigarettesperDay" type="xs:integer"/>
									<xs:element name="PacksperYear" type="xs:integer"/>
								</xs:choice>
							</xs:extension>
						</xs:complexType>
					</xs:element>
					<xs:element name="DiabetesMellitus" type="snet01:comorbidity"/>
					<xs:element name="Hyperlipidemia" type="snet01:comorbidity"/>
					<xs:element name="Hypertension" type="snet01:comorbidity"/>
					<xs:element name="CoronaryArteryDisease" type="snet01:comorbidity"/>
					<xs:element name="PeripheralArteryOcclusiveDisease" type="snet01:comorbidity"/>
					<xs:element name="Prostatectomy" type="snet01:comorbidity"/>
					<xs:element name="PelvicRadiation" type="snet01:comorbidity"/>
					<xs:element name="MultipleSclerosis" type="snet01:comorbidity"/>
					<xs:element name="SpineTrauma" type="snet01:comorbidity"/> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	
	<xs:complexType name="stmInclusionEdStudy">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="IsMale" type="xs:boolean"/>
					<xs:element name="AgeBetween18And80" type="xs:boolean"/>
					<xs:element name="ApneaHypopneaIndex_30" type="xs:boolean"/>
					<xs:element name="StableSexualRelationship" type="xs:boolean"/>
					<xs:element name="InformedConsentDocument" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmExclusionEdStudy">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="KnownErectileDisfunction" type="xs:boolean"/>
					<xs:element name="RetakingNitrateStatinsPDE5Hernrnem" type="xs:boolean"/>
					<xs:element name="IsQualified" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="stmRelevantDrugs">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="LipophilicBetaBlockers" type="snet01:drug"/>
					<xs:element name="ThiazideDiuretics" type="snet01:drug"/>
					<xs:element name="Phenytoin" type="xs:float"/>
					<xs:element name="HairRestorer" type="snet01:drug"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ########## additional data types ##########-->
	
	<xs:complexType name="stmPressureProperties">
		<xs:sequence>
			<xs:element name="IPAP" type="xs:float" minOccurs="0"/>
			<xs:element name="EPAP" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="stmComorbidity">
		<xs:sequence>
			<xs:element name="ICD10" type="xs:string" minOccurs="1"/>
			<xs:element name="Since" type="xs:date" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="stmDrug">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="ActivePharmaceuticalIngredient" type="xs:string" minOccurs="1"/>
			<xs:element name="Dose" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    </xs:schema>



